<!DOCTYPE html>
<head>
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<link type="text/css" rel="stylesheet" href="/static/style.css"/>
</head>
<body>
<form action = "/success" method = "post" enctype="multipart/form-data">
<div class="file-upload">
  <div class="image-upload-wrap">
    <div class="drag-text">
    <input type="file" name="file" class="file-upload-btn">
    <label for="k">Enter your number of keywords you want to find:</label><br>
    <input type="text" name="k" ><br>
    <input type = "submit" value="Submit" class="file-upload-btn">

</form>
    </div>
  </div>
  <div class="file-upload-content">
    <img class="file-upload-image" src="#" alt="your image" />
    <div class="image-title-wrap">

    
    </div>
  </div>
</div>
</body>  
</html>  
